sr\static\reports
PI/chamados_details_final.xlsx  
PI/plano_de_implantacao.xlsx   
PI/relatorio_projetos.xlsx  
General/chamados_details.xlsx
General/chamados_details_20240819.xlsx
General/chromedriver_win32.zip
General/ocorrencias_chamados.xlsx
General/jira-pags_0.csv
PT/modelo.xlsx
SR/chamados_details.xlsx
SR/ocorrencias_chamados.xlsx
SR/relatorio_projetos.xlsx
chromedriver_win32
database/projetos - Copia (2).db
database/projetos - Copia.db
database/projetospb.db
database/projetospb_backup.db