SR/static/reports
PI/chamados_details_final.xlsx  
PI/plano_de_implantacao.xlsx   
PI/relatorio_projetos.xlsx  
General/chamados_details.xlsx
General/chamados_details_20240819.xlsx
General/chromedriver_win32.zip
General/ocorrencias_chamados.xlsx
General/jira-pags_0.csv
PT/modelo.xlsx
SR/chamados_details.xlsx
SR/ocorrencias_chamados.xlsx
SR/relatorio_projetos.xlsx
SR/relatorio_projetos.csv
chromedriver_win32
database/projetos - Copia (2).db
database/projetos - Copia.db
database/projetospb.db
database/projetospb_backup.db
chamados_details.xlsx
chamados_details_082024.xlsx
chamados_details_092024.xlsx
chamados_details_error_backup.xlsx
chamados_details_final.xlsx
chamados_details_page_10.xlsx
chamados_details_page_20.xlsx
ocorrencias_chamados.xlsx
plano_de_implantacao.xlsx
relatorio_projetos.xlsx
requirements.txt
test_cases.xlsx
jira-pags_0.csv
app.log
chamados_details_082024 (2).xlsx
chamados_details - Copia.xlsx
programas.xlsx
General/ser004b.txt
chamados_details-102024.xlsx
ocorrencias_chamados-102024.xlsx
job_details_error_backup.xlsx
linkedin.json
chamados_details_page_30.xlsx
chamados_details_page_40.xlsx
SR/__pycache__
venv/Lib/site-packages/pip
venv/Scripts
chamados_details_page_140.xlsx
chamados_details_page_130.xlsx
chamados_details_page_120.xlsx
chamados_details_page_110.xlsx
chamados_details_page_100.xlsx
chamados_details_page_90.xlsx
chamados_details_page_80.xlsx
chamados_details_page_70.xlsx
chamados_details_page_60.xlsx
chamados_details_page_50.xlsx
chamados_details-2024.xlsx
teste.aux
.gitignore
.gitignore
General/teste.sty
General/teste.tex
teste.log
.gitignore
teste.pdf
