SR/static/reports
PI/chamados_details_final.xlsx  
PI/plano_de_implantacao.xlsx   
PI/relatorio_projetos.xlsx  
General/chamados_details.xlsx
General/chamados_details_20240819.xlsx
General/chromedriver_win32.zip
General/ocorrencias_chamados.xlsx
General/jira-pags_0.csv
PT/modelo.xlsx
SR/chamados_details.xlsx
SR/ocorrencias_chamados.xlsx
SR/relatorio_projetos.xlsx
SR/relatorio_projetos.csv
chromedriver_win32
database/projetos - Copia (2).db
database/projetos - Copia.db
database/projetospb.db
database/projetospb_backup.db
chamados_details.xlsx
chamados_details_082024.xlsx
chamados_details_092024.xlsx
chamados_details_error_backup.xlsx
chamados_details_final.xlsx
chamados_details_page_10.xlsx
chamados_details_page_20.xlsx
ocorrencias_chamados.xlsx
plano_de_implantacao.xlsx
relatorio_projetos.xlsx
requirements.txt
test_cases.xlsx
jira-pags_0.csv
app.log
chamados_details_082024 (2).xlsx
