<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pdf-report">
    <header>
        <img src="{{ url_for('static', filename='image.png') }}" alt="Logo">
        <h1>Status Report</h1>
    </header>

    <!-- Exibição das mensagens de flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <table>
        <tr>
            <td>Informações Gerais do Projeto</td>
            <td class="info-projeto">
                <div class="line-spacing"></div><strong>Nome do Projeto:</strong> {{ projeto.nome_projeto }} <br></div>
                <div class="line-spacing"></div><strong>Número do Chamado:</strong> {{ projeto.order_number }} <br></div>
                <div class="line-spacing"></div><strong>Data:</strong> {{ projeto.data_relatorio.strftime('%Y-%m-%d') }} <br></div>
                <div class="line-spacing"></div><strong>Gerente do Projeto:</strong> {{ projeto.gerente_projeto }} <br></div>
                <div class="line-spacing"></div><strong>Equipe Envolvida:</strong>  {{ projeto.equipe_envolvida }}</div>
            </td>
        </tr>
        <tr>
            <td>Resumo do Status</td>
            <td class="status-resumo">
                <div class="line-spacing"></div><strong>Status Geral:</strong> {{ projeto.status_geral }} <br></div>
                <div class="line-spacing"></div><strong>Estado do Projeto:</strong> {{ projeto.project_status }}<br></div>
                <div class="line-spacing"></div><strong>Resumo:</strong>  {{ projeto.resumo_status|safe }}</div>
            </td>
        </tr>
        <tr>
            <td>Progresso das Tarefas</td>
            <td>
                <table>
                    <tr>
                        <th>Tarefa</th>
                        <th>Responsável</th>
                        <th>Status</th>
                        <th>Data de Início Planejada</th>
                        <th>Data de Término Planejada</th>
                        <th>Data de Início Realizada</th>
                        <th>Data de Término Realizada</th>
                        <th>Observações</th>
                    </tr>
                    {% for item in tarefas %}
                    <tr class="
                        {% if item.tarefa.status == 'Prazo Vencido' %}
                            red
                        {% elif item.tarefa.status == 'Em Replanejamento' %}
                            yellow
                        {% elif item.tarefa.status == 'Replanejada' %}
                            green
                        {% endif %}
                    ">
                        <td>{{ item.tarefa.tarefa }}</td>
                        <td>{{ item.tarefa.responsavel }}</td>
                        <td>{{ item.tarefa.status }}</td>
                        <td>{{ item.tarefa.data_inicio.strftime('%d-%m-%Y') }}</td>
                        <td>{{ item.tarefa.data_termino.strftime('%d-%m-%Y') }}</td>
<!--                        <td>{{ item.data_entrega_inicio.strftime('%Y-%m-%d')  if item.data_entrega_inicio else ''}}</td> -->
                        <td>{% if item.data_entrega_inicio %} {{ item.data_entrega_inicio.strftime('%d-%m-%Y') }} {% else %}  {% endif %}</td>
<!--                        <td>{{ item.data_entrega_fim.strftime('%Y-%m-%d') if item.data_entrega_fim else '' }}</td> -->
                        <td>{% if item.data_entrega_fim %} {{ item.data_entrega_fim.strftime('%d-%m-%Y') }} {% else %}  {% endif %}</td>
                        <td>{{ item.tarefa.observacoes }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Principais Conquistas</td>
            <td>
                {{ projeto.principais_conquistas|safe }}
            </td>
        </tr>
        <tr>
            <td>Problemas e Riscos</td>
            <td>
                {% if problemas_reportados %}
                <table>
                    <tr>
                        <th>Tipo</th>
                        <th>Problema/Risco</th>
                        <th>Impacto</th>
                        <th>Ação Corretiva</th>
                        <th>Agente de Solução</th>
                        <th>Data Alvo de Solução</th>
                        <th>Coordenador do Agente de Solução</th>
                        <th>Status</th>
                    </tr>
                    {% for problema in problemas %}
                    <tr>
                        <td>{{ problema.tipo }}</td>
                        <td>{{ problema.problema_risco|safe }}</td>
                        <td>{{ problema.impacto }}</td>
                        <td>{{ problema.acao_corretiva|safe }}</td>
                        <td>{{ problema.agente_solucao|safe }}</td>
                        <td>{{ problema.data_alvo_solucao.strftime('%d-%m-%Y') }}</td>
                        <td>{{ problema.coordenador_agente_solucao|safe }}</td>
                        <td>{{ problema.status }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Não foram reportados problemas ou riscos até o momento desse report.</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Próximos Passos</td>
            <td>
                {{ projeto.proximos_passos|safe }}
            </td>
        </tr>
        <tr>
            <td>Solicitações e Dependências</td>
            <td class="solicitacoes-dependencias">
                <div class="line-spacing"></div><strong>Solicitações:</strong>  {{ projeto.solicitacoes|safe }} <br></div>
                <div class="line-spacing"></div><strong>Dependências:</strong>  {{ projeto.dependencias|safe }}</div>
            </td>
        </tr>
        <tr>
            <td>Notas Adicionais</td>
            <td>{{ projeto.notas_adicionais|safe }}</td>
        </tr>
        <!-- Adicionar Superintendências e Key Users -->
        <tr>
            <td>Superintendências</td>
            <td>
                <div class="line-spacing">
                    <strong>Superintendências:</strong>
                    <ul>
                        {% for superintendencia in superintendencias %}
                            <li>{{ superintendencia.superintendencia }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>Key Users</td>
            <td>
                <div class="line-spacing">
                    <strong>Key Users:</strong>
                    <ul>
                        {% for key_user in key_users %}
                            <li>{{ key_user.nome }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>Funcionários de TI</td>
            <td>
                <div class="line-spacing">
                    <strong>Funcionários de TI:</strong>
                    <ul>
                        {% for funcionario in funcionarios_ti %}
                            <li>{{ funcionario.nome }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <!-- Botão para gerar o arquivo ASPX -->
    <form action="{{ url_for('main.generate_pdf', projeto_id=projeto.id) }}" method="get">
        <button type="submit">Gerar Arquivo PDF</button>
    </form>

    <!-- Botão para verificar issue no Jira -->
    <form action="{{ url_for('main.check_jira', projeto_id=projeto.id) }}" method="get">
        <button type="submit">Verificar Issue no Jira</button>
    </form>
</body>
</html>