body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.por-que {
  background-color: #a8e6cf;
}

.o-que {
  background-color: #dcedc1;
}

.quem {
  background-color: #ffd3b6;
}

.como {
  background-color: #ffaaa5;
}

.quando-quanto {
  background-color: #ff8b94;
}

.item {
  margin-bottom: 20px;
}

.item h3 {
  margin-top: 0;
  color: #333;
}

.item p {
  margin: 5px 0;
  color: #555;
}
