<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projetos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="column">
        <div class="section por-que">
          <h2>POR QUÊ?</h2>
          <div class="item">
            <h3>JUSTIFICATIVA</h3>
            <p>(Passado)</p>
          </div>
          <div class="item">
            <h3>OBJ SMART</h3>
          </div>
          <div class="item">
            <h3>BENEFÍCIOS</h3>
            <p>(Futuro)</p>
          </div>
        </div>
        <div class="section o-que">
          <h2>O QUÊ?</h2>
          <div class="item">
            <h3>PRODUTO</h3>
          </div>
          <div class="item">
            <h3>REQUISITOS</h3>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="section quem">
          <h2>QUEM?</h2>
          <div class="item">
            <h3>STAKEHOLDERS EXTERNOS</h3>
            <p>(& Fatores Externos)</p>
          </div>
          <div class="item">
            <h3>EQUIPE</h3>
          </div>
        </div>
        <div class="section como">
          <h2>COMO?</h2>
          <div class="item">
            <h3>PREMISSAS</h3>
          </div>
          <div class="item">
            <h3>GRUPO DE ENTREGA</h3>
          </div>
          <div class="item">
            <h3>RESTRIÇÕES</h3>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="section quando-quanto">
          <h2>QUANDO? QUANTO?</h2>
          <div class="item">
            <h3>RISCOS</h3>
          </div>
          <div class="item">
            <h3>LINHA DO TEMPO</h3>
          </div>
          <div class="item">
            <h3>CUSTO</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
